.photo {
  display: block;
  width: 100%;
  position: relative;
  opacity: 0;
  transform: translateY(80px);
  will-change: opacity, transform; // GPU hint

  &.loaded {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.8s ease-out,
      transform 0.8s ease-out;
  }

  img {
    display: block;
    width: 100%;
  }
}
